# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.


[include macros/macros.cfg]
[include fluidd.cfg]
[include pi-mcu.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 245
homing_speed: 75

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -9
position_min: -9
position_max: 215
homing_speed: 75

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
position_min: -6
endstop_pin: probe:z_virtual_endstop
position_max: 230

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.710
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC5
min_temp: 0
max_temp: 250
pressure_advance: 0.0636

[firmware_retraction]
retract_length: 0.8
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 25

[verify_heater extruder]
max_error: 240
check_gain_time: 40

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
max_accel_to_decel: 1500
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

[input_shaper]
shaper_freq_x: 38.8
shaper_freq_y: 34.6
shaper_type: mzv

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
stow_on_each_sample: false
probe_with_touch_mode: true
x_offset: -38
y_offset: 6

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 30, 30
mesh_max: 205, 185
probe_count: 7, 7
algorithm: bicubic
bicubic_tension: 0.2

[safe_z_home]
home_xy_position: 140, 103
speed: 150
z_hop: 10
z_hop_speed: 5

[screws_tilt_adjust]
screw1: 65, 22
screw1_name: front left screw
screw2: 235, 22
screw2_name: front right screw
screw3: 235, 190
screw3_name: rear right screw
screw4: 65, 190
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 150.
screw_thread: CW-M4

[gcode_arcs]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.027500, -0.102500, -0.005000, -0.027500, 0.127500
#*# 	  -0.010000, -0.072500, -0.007500, -0.020000, 0.145000
#*# 	  0.035000, -0.087500, 0.017500, -0.002500, 0.140000
#*# 	  0.037500, -0.032500, 0.030000, 0.005000, 0.157500
#*# 	  0.035000, -0.090000, 0.002500, -0.015000, 0.127500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 185.0
#*# mesh_x_pps = 2
#*# max_x = 205.0
#*#
#*# [bltouch]
#*# z_offset = 4.485
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.700
#*# pid_ki = 1.161
#*# pid_kd = 165.164
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.213
#*# pid_ki = 2.107
#*# pid_kd = 671.275
