# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_z]
step_pin: skr:PB13
dir_pin: skr:PB12
enable_pin: !skr:PB14
microsteps: 16
rotation_distance: 8
position_min: -6
endstop_pin: probe:z_virtual_endstop
position_max: 230

[tmc2209 stepper_z]
uart_pin: skr:PC11
tx_pin: skr:PC10
uart_address: 0
run_current: 0.800
stealthchop_threshold: 999999

[stepper_z1]
step_pin: skr:PB10
dir_pin: skr:PB2
enable_pin: !skr:PB11
microsteps: 16
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: skr:PC11
tx_pin: skr:PC10
uart_address: 2
run_current: 0.800
stealthchop_threshold: 999999

[mcu skr]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FFD9054254323817791957-if00

[static_digital_output usb_pullup_enable]
pins: !skr:PA14

[bltouch]
sensor_pin: ^skr:PC14
control_pin: skr:PA1
stow_on_each_sample: false
probe_with_touch_mode: true
x_offset: -38
y_offset: 6

[z_tilt]
#z_positions:
#    -20,103
#    370,103
z_positions:
    -30,106 
    260,106
points: 
    60,106 
    245,106
horizontal_move_z: 10
speed: 150
retries: 5
retry_tolerance: 0.05

[controller_fan skr_fan]
pin: skr:PC6
fan_speed: 0.5
idle_timeout: 60
stepper: stepper_z,stepper_z1

[temperature_sensor skr_temp]
sensor_type: temperature_mcu
sensor_mcu: skr
min_temp: 0
max_temp: 100